# Cloudflare
NEXT_PUBLIC_CLOUDFLARE_ACCOUNT_ID=
NEXT_PUBLIC_CLOUDFLARE_API_TOKEN=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=skinworld-products
CLOUDFLARE_R2_ENDPOINT=

# Database
DATABASE_URL=file:./data/skinworld.db

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Email
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=hola@skinworld.mx

# General
NEXT_PUBLIC_SITE_URL=https://skinworld.mx
NEXT_PUBLIC_API_URL=https://api.skinworld.mx
NODE_ENV=development
